.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#bodyArea{
  background-color: tomato;
  height: 65vh;
  margin: 0 20px 0 20px;
  padding: 10px 50px 20px 50px;
}
#filterArea{
  background-color: burlywood;
  margin: 10px 50px 20px 50px;
  padding: 10px 50px 20px 50px;
}
.SubFilter,.MainFilter{
  padding: 20px 50px 20px 50px;
}
.filterName{
  font-size: x-large;
  margin: 0 10px 0 10px
}